<!-- Angular JS -->
<script src="/static/js/angular.min.js"></script>
{#template "themes/admin/1/controllers/node/add.js.html" .#}

<div class="x_panel" ng-app="add">
    <div class="page-title">
        <div class="title_left">
            <h3>{# .page_title #}-{# .page_via_title #}</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" ng-controller="nodeController" >
        <form  class="form-horizontal form-label-left"   ng-submit="submitForm()" >


            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Title</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input type="text" ng-model="title" required="required" class="form-control" >
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Author</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <input type="text" ng-model="author" required="required" class="form-control" >
                </div>
            </div>



            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">CategoryTag</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <select ng-model="categorytag" class="form-control">
                      <option value="News">News</option>
                      <option value="Others">Others</option>
              
                    </select>

                </div>
            </div>




            <div class="ln_solid"></div>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Description</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                <textarea ng-model="description" class="resizable_textarea form-control" style="width: 100%; overflow: hidden; word-wrap: break-word; resize: horizontal; height: 74px;" data-autosize-on="true"></textarea>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Keywords</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                <textarea ng-model="keywords" class="resizable_textarea form-control" style="width: 100%; overflow: hidden; word-wrap: break-word; resize: horizontal; height: 74px;" data-autosize-on="true"></textarea>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Content</label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <script src="/static/ckeditor/ckeditor.js"></script>
                    <textarea ckeditor ng-model="content" class="resizable_textarea form-control" style="width: 100%; overflow: hidden; word-wrap: break-word; resize: horizontal; height: 74px;" data-autosize-on="true"> </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12"> </label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <button type="submit" class="btn btn-default">Submit</button>
                    <a href="javascript:location.href = document.referrer;" class="btn btn-primary" >返回</a>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12"> </label>
                <div class="col-md-10 col-sm-10 col-xs-12 ng-hide ng-hide-animate" id="alert">
                    <div class="alert alert-warning" ng-if="error">
                        <span ng-bind="msg"></span>
                    </div>
                    <div class="alert alert-warning" ng-if="success">
                        <span ng-bind="msg"></span>
                    </div>
                </div>
            </div>



            {# .xsrfdata #}
            <!--  hidden input -->
        </form>
    </div>
</div>


